.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.w-50 {
  width: 50%;
}

/* logo */
.logo-z {
  width: 140px
}

.bi {
  margin-right: 10px;
}
/* stories */
.shight{
    height: 70px;
}
.rounded-circle{
  border-radius: 100%;
  height: 50px;
  width: 50px;;
}
.hh{
  height: 500px;
}